body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.banner-text {
  background-image: url(images/main-top.svg);
  width: 100%;
  height: auto;
  background-size: cover;
  /* background-repeat: repeat-x; */
  margin-bottom: 1rem;
}

.span-text {
  background: -webkit-linear-gradient(#65f140, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.span-text:hover {
  background: -webkit-linear-gradient(green, #65f140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: cell;
  margin-left: 10px;
  transition: 1s;
}

.banner-text h1 {
  font-size: 4rem;
}

.banner-text h4 {
  line-height: 1.8;
}

.main-bg {
  background-image: url(images/min.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.sticky-top {
  top: 80px;
}

.main-bottom {
  background-image: url(images/main-bottom.svg);
  width: 100%;
  /* height: 150px; */
  background-repeat: repeat-x;
}

.topics {
  width: 80%;
  border: 1px solid green;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: green;
}

.topics:hover {
  color: white;
  background-color: #4fc3f7;
  cursor: cell;
  margin-left: 0.2rem;
  transition: 1s;
  cursor: pointer;
  border: 0;
}
