body {
  overflow-x: hidden !important;
}

.rel {
  position: relative;
}

.side {
  position: sticky;
  top: 70px;
}

a {
  text-decoration: none;
}

.list-h {
}

/* .span-text {
  background: -webkit-linear-gradient(#65f140, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.span-text:hover {
  background: -webkit-linear-gradient(green, #65f140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: cell;
  margin-left: 10px;
  transition: 1s;
} */
